/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,300;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #283a44;
  font-family: 'Comic Neue', cursive;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 43, 58, 0.3);
}

h1 {
  font-weight: 700;
  width: 100%;
  text-align: center;
  margin: 40px auto;
  color: whitesmoke;
  position: relative;
  z-index: 3;
  top: 50vh;
}

.content {
  height: 500px;
}

figure {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.main-image {
  width: 100%;
  height: auto;
}

.scroll-to-top {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  cursor: pointer;
  margin-top: 80px;
  width: 42px;
  height: 42px;
  -webkit-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;
}

.scroll-to-top i:hover {
  color: #cbbdac;
  font-size: 45px;
  -webkit-transition: 450ms ease ease-in-out;
  -o-transition: 450ms ease ease-in-out;
  transition: 450ms ease ease-in-out;
}

.scroll-to-top i {
  color: whitesmoke;
  position: absolute;
  font-size: 40px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h3 {
  font-weight: 400;
  width: 100%;
  text-align: center;
  margin: 40px auto;
  color: whitesmoke;
}

@media (max-width: 900px) {
  .main-image {
    width: auto;
    height: 500px;
  }

  .hero {
    height: 500px;
  }

  h1 {
    top: 30vh;
  }

  .content {
    height: 500px;
  }

  .scroll-to-top i {
    top: 20px;
  }
}